
body {
    font-size: 16px;
    background-color: #ffe1a8;
}

header, main, footer {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-color: #c9cba3;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

header img {
    width: 100px;
    height: auto;    
}

.temple, .wedding-picture{
    padding: 15px;
    border-radius: 1.5rem;
}

header, nav ul {
    display: flex;
    list-style: none;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-family: Arial, Helvetica, cursive;
    display: block;
    padding: 1rem;
}

.hero{
    padding-top: 10px;
    position: relative;
    width: 100%;
}

main p {
    background-color: #999;
    padding: 10px;
}

h2 {
    background-color: #aa5551;
    color: #000000;
    padding: 10px;
}

a:hover {
   color: #98a0a0;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    padding: 5px;
    text-align: center;
}

.home {
    grid-column: 1/2;
    grid-row: 1/2;
}

.paragraph-one {
    grid-column: 1/2;
    grid-row: 2/3;
}

.temple {
    grid-column: 2/3;
    grid-row: 1/3;
}

.wedding-reception {
    grid-column: 2/3;
    grid-row: 3/4;
}

.paragraph-two {
    grid-column: 2/3;
    grid-row: 4/5;
}

.wedding-picture {
    grid-column: 1/2;
    grid-row: 3/5;
}

.family-center {
    grid-column: 1/3;
    grid-row: 5/6;
}

.paragraph-three {
    grid-column: 1/3;
    grid-row: 6/7;
}

.contact {
    margin-left: 0%;
}

.social {
    text-align: right;
}
.social img {
    width: 35px;
    height: auto;
    float: right;
    margin-right: 12px;
    border-radius: .5rem;
}

.copyright {
    text-align: center;
    background-color: #c9cba3;
    max-width: 960px;
    margin: 0 auto;
}

.container2, .container3 {
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 960px;
    margin: 0 auto;
}
