header {
  background-color: #c9cba3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body {
  background-color: #ffe1a8;
  max-width: 960px;
  margin: 0 auto; 
}

p {
  color: #000000;
  background-color: #999;
  font-family: Arial, Helvetica, cursive;
  text-emphasis: none;
  margin-right: auto;
  font-size: 15px;
  line-height: 200%;
  padding: 10px
}

nav {
  background-color: #dcab6b;
  font-weight: bold;
  color: black;
  font-size: 15px;
}
nav a {
  display: block;
  padding: 15px 15px 15px 15px;
  
}

h2 {
  background-color: #aa5551;
  font-style: italic;
  font-size: 20px;
  text-align: left;
  padding: 10px;
  border: 1px solid black;
  margin: 15px 15px 15px 15px;
  align-items: flex-end;
}

main {
  background-color: #fff1d6;
}

img {
  display: block;
  border-top: black;
  border-bottom: black;
  border-left: black;
  border-right: black; 
}

.menu {
  list-style-type: none;
  display: flex;
  margin: 1em;
}

.motto {
  font-size: small;
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}
.one {
  grid-column: 1/2;
  
}
.two {
  grid-column: 1/2;

}
 .three {
  grid-column: 2/3;

  padding: 10px;  
}
.four {
  grid-column: 2/3;
}
.five {
  grid-column: 2/3;
}
.six {
  grid-column: 1/2;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
}
.seven{
  grid-column: 1/3;
}
.eight{
  grid-column: 1/3;  
}
a:link {
  color: black;
}
a:visited {
  color: #00FF00;
}
a:hover {
  color: red
}
a:active {
  color: #0000FF;
}
.banner-box{
    position: relative;
}
.banner-box .img{
   width: 100%;
  height: auto;
  align-self: center;
   width: 100%;
}
.banner-box .btn{
  background-color: #aa5551;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.banner-box .btn:hover {
  background-color: black;
}
@media screen and (max-width: 550px) {
  .banner-box {
    display: block;
  }
}
element.style {
 position: absolute; 
 top: 20px; 
 right: 50px; 
}
 footer {
  display: flex;
}
}