html{
    font-size: 75%; 
}
header {
    background-color: #C9CBA3;
    text-transform: capitalize; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
body {
    background-color: #FFE1A8; 
	margin: 0;
    font-size: 16px;
}
p {
    color: #000000;
    background-color: #F1A782;
    font-family: Arial, Helvetica, cursive;
    text-emphasis: none;
    margin-right: auto;
    font-size: 16px;
    line-height: 200%;
}

nav {
    background-color: #DCAB6B;
    font-weight: bold;
    color: black;
    font-variant: small-caps;
    font-size: 15px; 
}
nav a{
    color: darkcyan;
    display: block; 
    padding: 5px; 
}

h2 {
    background-color: #AA5551;
    font-style: italic;
    font-size: 25px;
    text-align: left;
    padding: 15px;
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 80px;
    align-items: flex-end

}
main{
    background-color: #FFF1D6;
}


img {
    display: block;
    margin-left: auto;
    border-top: black;
    border-bottom: black;
    border-left: black;
    border-right: black;
}
ul.bp {
    list-style-type: none;
    display: flex; 
    margin: 0; 
}

.motto {
    font-size: small; 
    text-align: center; 
}